<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trocatine"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.buy_or_trade.buy.Card.Buy3NewCard"
            android:exported="false" />
        <activity
            android:name=".ui.product.item_question"
            android:exported="false" />
        <activity
            android:name=".ui.product.testeee"
            android:exported="false" />
        <activity
            android:name=".ui.product.EditProduct"
            android:exported="false" />
        <activity
            android:name=".ui.product.newProduct.buy.NewProductBuy2"
            android:exported="false" />
        <activity
            android:name=".ui.product.newProduct.buy.NewProductBuy1"
            android:exported="false" />
        <activity
            android:name=".ui.product.newProduct.trade.NewProductTrade3Camera"
            android:exported="false" />
        <activity
            android:name=".ui.notifications.NotificationsView"
            android:exported="false" />
        <activity
            android:name=".ui.trocadinha.TrocadinhasMoreDetails"
            android:exported="false" />
        <activity
            android:name=".ui.trocadinha.trocadinha_item_rank"
            android:exported="false" />
        <activity
            android:name=".ui.trocadinha.TrocadinhasRank"
            android:exported="false" />
        <activity
            android:name=".ui.community.CommunityRv"
            android:exported="false" />
        <activity
            android:name="tabs.UserReviewsRv"
            android:exported="false" />
        <activity
            android:name="tabs.UserReviews"
            android:exported="false" />
        <activity
            android:name=".ui.userProfile.OthersUserProfile"
            android:exported="false" />
        <activity
            android:name=".ui.userProfile.EditProfile"
            android:exported="false" />
        <activity
            android:name=".ui.product.newProduct.trade.NewProductTrade2"
            android:exported="false" />
        <activity
            android:name=".newProduct.trade.NewProductCamera2"
            android:exported="false" />
        <activity
            android:name=".ui.product.newProduct.trade.NewProductTrade1"
            android:exported="false" />
        <activity
            android:name=".ui.footer.Footer"
            android:exported="false" />
        <activity
            android:name=".ui.Cart.card_cart_product"
            android:exported="false" />
        <activity
            android:name=".ui.buy_or_trade.buy.Card.Buy4PurchaseMade"
            android:exported="false" />
        <activity
            android:name=".ui.buy_or_trade.buy.Card.Buy3CardMethod"
            android:exported="false" />
        <activity
            android:name=".ui.buy_or_trade.buy.PicPay.Buy3PicpayMethod"
            android:exported="false" />
        <activity
            android:name=".ui.buy_or_trade.buy.Buy2"
            android:exported="false" />
        <activity
            android:name=".ui.buy_or_trade.buy.Buy1"
            android:exported="false" />
        <activity
            android:name=".ui.product.ProductTrade"
            android:exported="false" />
        <activity
            android:name=".ui.product.ProductBuy"
            android:exported="false" />
        <activity
            android:name=".ui.product.CardProduct"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeNavBar"
            android:exported="false" />
        <activity
            android:name=".ui.register.Register3"
            android:exported="false" />
        <activity
            android:name=".ui.register.Register2"
            android:exported="false" />
        <activity
            android:name=".ui.register.Register1"
            android:exported="false" />
        <activity
            android:name=".ui.login.Login"
            android:exported="false" />
        <activity
            android:name=".ui.beginning.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beginning.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>